%footer.navbar
  %nav.d-flex.m-auto
    %ul
      %u.mb-3 サービス
      %li= link_to "コース一覧", '#'
      %li= link_to "使い方", '#'
    %ul
      %u.mb-3 サポート
      %li= link_to "利用規約", '#'
      %li= link_to "プライバシーポリシー", '#'
      %li= link_to "お問い合わせ", '#'
    %ul
      %u.mb-3 運営
      %li= link_to "サイトへの思い", '#'
      %li= link_to "運営者について", '#'
