!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', |
                          'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', |
                          'data-turbolinks-track': 'reload'
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      .container
        = link_to "Home", root_path, id: "logo"
        %nav
          %ul.nav.navbar-right
            %li.mr-3= link_to "コース一覧", courses_path
            %li.mr-3= link_to "ログイン", login_path
            %li= link_to "新規登録", signup_path
    .container
      = yield
